<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Title-->
    <title>Visualisations Vector Calculus</title>
    <!--css links-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet"
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/skeleton.css" rel="stylesheet">
    <link href="styles/index_Style.css" rel="stylesheet">
    <link href="styles/loadout_Style.css" rel="stylesheet">
    <!--Required JS resources-->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/debounce_and_throttle.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="scripts/numeric/src/numeric.js"></script>
    <script src="scripts/math.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body>
<div id="app">
    <!--   Title of non-current sections to appear on hovering above respective number in navbar     -->
    <div id="hoverTitleSpace" :style="{left: mouseX +'px'}" v-show="hoverTitle !== false">
        {{hoverTitle}}
    </div>
    <!--    Left Side of Window - containing mainly text    -->
    <div class="vis-container left" id="left-container">
        <!--     Dynamic Navigation Bar and Section Headings       -->
        <div class="" id="progress-container">
            <div id="banner-dummy"></div>
            <!--    Dynamic Section Heading Text - overlaid on meters    -->
            <!--    Also act as buttons to navigate between sections    -->
            <div class="" id="overlay" @mousemove="hoverTitle !== false ? updateMouseX($event) : ''">
                <button :class="[currentTitle === 1 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle1"
                        key="sectionTitle1" data-no=1 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[0]}}
                </button>
                <button :class="[currentTitle === 2 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle2"
                        key="sectionTitle2" data-no=2 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[1]}}
                </button>
                <button :class="[currentTitle === 3 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle3"
                        key="sectionTitle3" data-no=3 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[2]}}
                </button>
                <button :class="[currentTitle === 4 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle4"
                        key="sectionTitle4" data-no=4 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[3]}}
                </button>
            </div>
            <!--    Dynamic meters indicating progress through each section    -->
            <meter :class="[currentTitle === 1 ? 'activeMeter' : '']" id="m1" :min="sectionTops[0]"
                   :max="sectionBottoms[0]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 2 ? 'activeMeter' : '']" id="m2" :min="sectionTops[1]"
                   :max="sectionBottoms[1]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 3 ? 'activeMeter' : '']" id="m3" :min="sectionTops[2]"
                   :max="sectionBottoms[2]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 4 ? 'activeMeter' : '']" id="m4" :min="sectionTops[3]"
                   :max="sectionBottoms[3]" :value="scrollPos"></meter>
        </div>
        <!--    Container for text content split into sections    -->
        <div class="journey" id="main-journey" @scroll.passive="scrollFunc">
            <!--    Section Text Containers   -->
            <div class="section-container" id="sc1">
                <div class="placeholder" id="ph1">
                    <hr>
                    <h2 class="text section-head" id="s1">
                        {{sectionTitleLong[0]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p1">
                    Intro text
                </div>
            </div>
            <div class="section-container" id="sc2">
                <div class="placeholder" id="ph2">
                    <hr>
                    <h2 class="text section-head" id="s2">
                        {{sectionTitleLong[1]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p2">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[1] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#gradDifferential" @click="subScrollTo(2); subSection[1]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[1] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#gradIntegral" @click="subScrollTo(2); subSection[1]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="gradDifferential" class="tab-pane fade in active show">
                            <p>
                                Grad operates on a scalar field $f(x, y)$ to produce a vector field indicating the magnitude and direction of the
                                steepest gradient at each point.  It is easy to remember that grad produces a vector field, because it is necessary
                                for the gradient to have a direction once there is more than one dimension involved.  It must act on a scalar field
                                because it doesn't make much sense for a vector field to have a gradient.
                            </p>
                            <p>
                                The surface shown on the right is a scalar function $f$ of two independent variables, $x$ and $y$.  Note that it is a 2D scalar field &mdash;
                                the third dimension is just being used to display the value of the function.
                            </p>
                            <p>
                                Beneath it the gradient of the function $\nabla f$ is shown.  By changing the coefficient $a$, the gradient of the function can be increased
                                and decreased in certain directions.  There are also several functions to choose from.
                            </p>
                            <p>
                                The idea extends to three dimensions in the same way.  For example, if you were to plot the magnitude of the Sun's gravitational field
                                in 3D space around the Sun, the gradient of this field would give vectors that point to the centre of the Sun at every point.
                            </p>
                        </div>
                        <div id="gradIntegral" class="tab-pane fade">
                            <h5>$$ \Omega_B - \Omega_A = \int _A ^B \nabla \Omega \cdot \mathbf{ dl }$$</h5>
                            <p>
                                <br>
                                For a given vector field, if $\mathbf{A} \cdot \mathbf{ dl }$ is an exact differential, $\mathbf{A}$ is a conservative field. Then, $\mathbf{A}$ is the
                                gradient function of some scalar function $\Omega$. That is, $\mathbf{A} = \nabla {\Omega}$.
                                We can relate $\Omega$ and $\nabla \Omega$ by the equation below:
                                $$ \int _A ^B \nabla \Omega \cdot \mathbf{ dl } = \Omega_B - \Omega_A$$
                                From this equation above, we can see that the integral is independent of the path that one takes from A to B,
                                for it is determined by only the values from the parent function $\Omega_B - \Omega_A$. This is a generalisation of the Fundamental Theorem of Calculus.
                            </p>
                            <h5>Visualisation Guide</h5>
                            <ol>
                                <li>On the right, you can see a gradient field and its scalar parent function.
                                    Change the value of the parameter $a$, and observe the change in $\nabla \Omega$ and $\Omega$.</li>
                                <li>Note that as the magnitude of $a$ increases, the length of the arrows in $\nabla \Omega$ increases and the contour of the parent function
                                    $\Omega$ becomes steeper as well. Hence, the gradient vector increases in magnitude as well.</li>
                                <li>All gradient fields shown in this suite are conservative. This means that the line integral along the field,
                                    $\int \nabla \Omega \cdot \mathbf{ dl }$ is path independent. Move the path of the ball from Point A to Point B
                                    along 2 different paths, Path 1 and Path 2.</li>
                                <li>Observe their function values. Note that along the path, the value of $\Omega$ may be different.
                                    However, when the balls reach Point B, their function values are equal.</li>
                                <li>This means that the line integral $\int _A ^B \nabla \Omega \cdot \mathbf{ dl }$  is determined
                                    only by the value of $\Omega$ at the limits, $\Omega_B - \Omega_A$.</li>
                                <li>There are a few other functions for you to play around with. Click the dropdown menu to find out.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container" id="sc3">
                <div class="placeholder" id="ph3">
                    <hr>
                    <h2 class="text section-head" id="s3">
                        {{sectionTitleLong[2]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p3">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[2] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#divergenceDifferential" @click="subScrollTo(3); subSection[2]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[2] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#divergenceIntegral" @click="subScrollTo(3); subSection[2]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="divergenceDifferential" class="tab-pane fade in active show">
                            <h2> What is divergence?</h2>
                            <p>
                                The divergence of a field quantifies how much a field varies in the direction of the field lines. A
                                field is said to be diverging if the field strength changes as you step along field lines. On an
                                infinitesimal level, this may be interpreted as 'sources' of field strength 'creating' or 'destroying'
                                field lines. It may be calculated using the $\displaystyle \nabla $ operator on a vector field to generate
                                a scalar field. The Visualisation on the right shows an infinitesimal section of a surface (the y axis). The arrows show
                                the direction of the field lines while their thickness and colour represent the field strength. Use the
                                $\displaystyle \nabla  $ slider to understand the difference between positive and negative divergence.
                                <br>
                                <br>
                                Divergence may also occur if there are sources of field lines (e.g. monopoles) that increase/decrease the
                                line density of a field, as shown by the figure to the right. The source of divergence adds field lines whereas
                                the sink takes them away. Hence the source has a positive divergence and the sink has a negative divergence.
                            </p>
                        </div>
                        <div id="divergenceIntegral" class="tab-pane fade">
                            Flux - the flow of field lines
                            <br><br>
                            We often call $\mathbf{F} \cdot d\mathbf{S}$ the flux of field $\mathbf{F}$ perpendicular through a surface element $dS$.
                            In this visualisation, the green line can be thought as taking the side view of the surface element.
                            <br><br>
                            The <b>net</b> flux through any surface $S$ is given by the integral:
                            $$\iint_S \mathbf{F} \cdot d\mathbf{S}$$
                            By considering a <b>closed</b> surface, the Divergence Theorem relates the net flux to the divergence of the field:
                            <center>$\unicode{x222F}_S \mathbf{F} \cdot d\mathbf{S} = \iiint_V \nabla \cdot \mathbf{F} dV$</center>
                            <br>
                            An <a href="Visualisations/Static-Electromagnetism/EM_p1.html">example</a> of the Divergence Theorem is Maxwell's Equation.
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container" id="sc4">
                <div class="placeholder" id="ph4">
                    <hr>
                    <h2 class="text section-head" id="s4">
                        {{sectionTitleLong[3]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p4">
                    <!--    Sub-Section Tabs    -->
                    <ul class="nav nav-tabs nav-justified">
                        <li :class="[subSection[3] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="tab" href="#curlDifferential" @click="subScrollTo(4); subSection[3]=1; loadSubScripts(); $forceUpdate();">Differential</a>
                        </li>
                        <li :class="[subSection[3] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="tab" href="#curlIntegral" @click="subScrollTo(4); subSection[3]=2; loadSubScripts(); $forceUpdate();">Integral</a>
                        </li>
                    </ul>
                    <!--    Sub-Section Text Containers    -->
                    <div class="tab-content">
                        <div id="curlDifferential" class="tab-pane fade in active show">
                            <center><h4>Curl Operator, $\nabla \times \mathbf{f} $</h4></center>
                            <p>
                                Placeholder for text.
                            </p>
                            <div id="regroupexplainContainer" class="collapse show extra-content-container">
                                <div id="regroupexplain" class="extra-content">
                                            <span class="mathJaxDisplay">
                                                \begin{align}
                                                = \frac{1}{2} \Big[ 2c_n e^{in\pi x/L} + 2c_{-n} e^{-in\pi x/L} & \\
                                                + \underbrace{c_{-n} e^{in\pi x/L} - c_{-n} e^{in\pi x/L}}_\text{ =0} &
                                                \\
                                                + \underbrace{c_{n} e^{-in\pi x/L} -c_{n} e^{-in\pi x/L}}_\text{ =0} &
                                                \Big] \\
                                                \end{align}
                                                <br>
                                                \begin{align}
                                                = \frac{1}{2} \Big[ c_n e^{in\pi x/L} +c_{-n} e^{in\pi x/L} & \\
                                                + c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \\
                                                + c_n e^{in\pi x/L} - c_{-n} e^{in\pi x/L} & \\
                                                - c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \Big] \\
                                                \end{align}
                                            </span>
                                </div>
                            </div>
                            <span class="mathJaxDisplay">
                                        \begin{align}
                                        f(x)= c_0 + \sum_{n=1}^{\infty} \Big[ & \frac{c_n + c_{-n}}{2} \big(e^{in\pi
                                        x/L} +e^{-in\pi x/L} \big) \\
                                        & \frac{c_n - c_{-n}}{2} \big(e^{in\pi x/L} -e^{-in\pi x/L} \big) \Big]
                                        \end{align}
                                    </span>
                            Now define <span class="mathJaxInline">$ a_n = c_n + c_{-n} $</span> and
                            <span class="mathJaxInline">$ b_n = i(c_n - c_{-n}) $</span>
                            and use that these exponentials can we written as
                            sines and cosines.
                            <br><br>
                            <strong>Note:</strong> <span class="mathJaxInline">$ a_0 = 2c_0 $</span> and <span class="mathJaxInline">$ b_0=0 $</span>.
                            <br><br>
                            Hence
                            <span class="mathJaxDisplay">
                                        $$ f(x) = \frac{a_0}{2} + \sum_{n=1}^{\infty} \Big[ a_n\cos\Big(\frac{\pi nx}{L}\Big) + b_n\sin\Big(\frac{\pi nx}{L}\Big) \Big] $$
                                    </span>
                            <span class="mathJaxInline">$ a_n $</span> can be derived by using the expression from <span class="mathJaxInline">$ c_n $</span>
                            <span class="mathJaxDisplay">
                                        \begin{align}
                                        a_n = c_n + c_{-n} = & \frac{1}{2L}\int_{-L}^{+L}f(x) e^{-in\pi x/L}dx \\
                                        + & \frac{1}{2L} \int_{-L}^{+L}f(x) e^{in\pi x/L}dx
                                        \end{align}
                                    </span>
                            Factorise and spot the exponential form of <span class="mathJaxInline">$ \cos $</span>.
                            <span class="mathJaxDisplay">
                                        \begin{align}
                                        & =\frac{1}{L}\int_{-L}^{+L}f(x) \Big[\frac{e^{in\pi x/L} +e^{-in\pi
                                        x/L}}{2}\Big]dx \\
                                        & =\frac{1}{L}\int_{-L}^{L} f(x) \cos\Big(\frac{\pi nx}{L}\Big) dx
                                        \end{align}
                                    </span>
                            Similarly for <span class="mathJaxInline">$ b_n $</span>,
                            <span class="mathJaxDisplay">
                                        $$ b_n =\frac{1}{L}\int_{-L}^{L} f(x) \sin\Big(\frac{\pi nx}{L}\Big) dx. $$
                                    </span>
                        </div>
                        <div id="curlIntegral" class="tab-pane fade">
                            <p id="Main-text">
                                Stokes' Theorem states:<br>
                                $\displaystyle \oint_{l} \mathbf{A.dl} =$ $\displaystyle \iint_{S} \nabla \times \mathbf {A} \cdot d\mathbf{S}$
                                <br>
                                i.e. the closed loop integral of a vector field is equal to the sum of all the curl contained in the surface
                                enclosed by the loop.
                                <br><br>

                                This is demonstrated in the visualisation on the right, where the components of
                                $\displaystyle \mathbf{A.dl}$ as you go around the loop are shown in the plot at the bottom. The contributions are positive if
                                the field and dl are pointing in the same direction.
                                <br><br>

                                When there is curl inside the loop then the overall loop integral is non-zero,
                                since on all parts of the loop, the contributions to the integral from the curl source have the same sign; however
                                when the curl source is outside of the loop, then the contributions cancel out and the net integral is zero.
                                <br><br>

                                This also demonstrates that the curl of a conservative field is zero, since any loop integral
                                in a conservative field is also zero.
                                <br><br>

                                You can change the shape of the loop to see that this is true for any type of closed loop.

                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--    Right Side of Window - containing mainly interactive and visual content    -->
        <div class="vis-container right" id="right-container">
            <!--    fade transition tag for RHS - applied by Vue and CSS    -->
            <transition-group name="fade" tag="div" class="transition-container">
                <!--    Interactive Zone Containers   -->
                <div class="rightload text odd" id='loadout1' key="loadout1" v-if="currentSection === 1">

                </div>
                <div class="rightload text even" id='loadout2' key="loadout2" v-if="currentSection === 2">
                    <transition name="fade">
                        <!--Interactive Zone Sub Containers-->
                        <div class="rightload text" id='loadout2sub1' key="loadout2sub1"
                            v-if="subSection[1] === 1">
                            <iframe src="VC/1aGrad_interactive.html" width="950px" height="800px"></iframe>
                            <!--<div style="width:30%; float:right;">
                                <div id="scroll">
                                    <br />
                                    <div class="scroll-down">
                                        <strong>Select Function: </strong>
                                        <select id="Function_Selector_1a">
                                            <option value="A">Gaussian</option>
                                            <option value="B">Reciprocal</option>
                                            <option value="C">Sinusoidal</option>
                                        </select>
                                    </div>
                                </div>

                                <label class="sliderTitle" style="padding-bottom:20px;">$a$:
                                    <span id="Slider_1Display" data-unit="">10</span>
                                </label>
                                <label style="width:100%">
                                    <span class="sliderMin">-100</span>
                                    <input id="Slider_1_1a" class="inputs" type="range" value="10" min="-100" max="100"
                                        step="1" style="width:70%">
                                    <span class="sliderMax">100</span>
                                </label>
                                <br />
                                <br />
                                <br />
                                <div>
                                    <div id="B_function_eqn_1a" style="display:none; width:100%">
                                        <span class="mathJaxDisplay">
                                            $$\displaystyle f(x,y)= \frac{a}{ \sqrt{(bx)^2 + (by)^2} }$$
                                        </span>
                                    </div>

                                    <div id="A_function_eqn_1a" style="display:none; width:100%">
                                        <span class="mathJaxDisplay">
                                            $$\displaystyle f(x,y) = ae^{-b((x+c)^2+y^2)} - ae^{-b((x-c)^2+y^2)}$$
                                        </span>
                                    </div>

                                    <div id="C_function_eqn_1a" style="display:none; width:100%">
                                        <span class="mathJaxDisplay">
                                            $$\displaystyle f(x,y)= a\cos(bx) $$
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <div>
                                    <div id="B_grad_eqn_1a" style="display:none; width:100%">
                                        <span class="mathJaxDisplay">
                                            $$\displaystyle \nabla f = - \frac{ab^2}{ ((bx)^2 +(by)^2)^ {\frac{3}{2}} }
                                            (x \mathbf{i} + y \mathbf{j} )$$
                                        </span>
                                    </div>

                                    <div id="A_grad_eqn_1a" style="display:none; width:100%; font-size: 8pt">
                                        <span class="mathJaxDisplay">
                                            $$ \displaystyle \begin{align} \nabla f & = 2ab\bigg(\Big((x-c)e^{-b((x-c)^2
                                            y^2)} - (x+c)e^{-b((x+c)^2 + y^2)}\Big)\mathbf{i}
                                            \\ & + y\Big(e^{-b((x-c)^2 + y^2)} - e^{-b((x+c)^2 + y^2)}\Big)
                                            \mathbf{j}\bigg)
                                            \end{align} $$
                                        </span>
                                    </div>

                                    <div id="C_grad_eqn_1a" style="display:none; width:100%">
                                        <span class="mathJaxDisplay">
                                            $$\displaystyle \nabla f = - ab\sin (bx) \mathbf{i} $$
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div style="width:60%; float:left;">
                                <div>
                                    <span class="mathJaxDisplay">
                                        <h6>$f(x,y)$</h6>
                                    </span>
                                    <div id='Scalar_Graph_1a' style="width:40vw; height:40vh;"></div>
                                </div>

                                <div>
                                    <span class="mathJaxDisplay">
                                        <h6> $\nabla f(x,y) $ </h6>
                                    </span>
                                    <div id='Vector_Graph_1a' style="width:40vw; height:40vh;"> </div>
                                </div>
                            </div>-->

                            <!--Buttons/Sliders-->
                            <!--        <div class="one-third column" style="padding-left: 50px;">-->

                            <!--Main body contents-->


                        </div>
                        <div class="rightload text" id='loadout2sub2' key="loadout2sub2" v-else>
                            <iframe src="VC/1bGrad_interactive.html" width="950px" height="800px"></iframe>
                            <!--<div class="row">
                                <div style="width:40%; float:right;">
                                    <div id="scroll">
                                        <div class="scroll-down">
                                            <strong>Select Function: </strong>
                                            <select id="Function_Selector">
                                                <option value="Gaussian">Gaussian</option>
                                                <option value="Reciprocal">Reciprocal</option>
                                                <option value="Sinusodial">Sinusodial</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div>
                                        <h6>$a =$
                                            <output id="Slider_1_1b_value" for="Slider_1_1b">5</output>
                                        </h6>
                                        &lt;!&ndash;BEGIN Slider&ndash;&gt;

                                        <label>
                                            <span class="sliderMin">-10</span>
                                            <input id="Slider_1_1b" class="inputs" type="range" value="5" min="-10"
                                                max="10" step="0.5"
                                                oninput="Slider_1_1b_value.value=Slider_1_1b.value" /></input>
                                            <span class="sliderMax">10</span>
                                        </label>
                                        &lt;!&ndash;END Slider&ndash;&gt;
                                    </div>

                                    <div>
                                        <h6> Path </h6>
                                        <h6>
                                            <div id="functionValueBall1_1b"> </div>
                                            <div id="functionValueBall2_1b"> </div>
                                        </h6>

                                        <label>
                                            <span class="sliderMin">A</span>
                                            <input id="Slider_2_1b" class="inputs" type="range" value="-16" min="-16"
                                                max="5" step="0.2"
                                                oninput="Slider_2_1b_value.value=Slider_2_1b.value" /></input>
                                            <span class="sliderMax">B</span>
                                        </label>
                                        &lt;!&ndash;END Slider&ndash;&gt;
                                    </div>

                                    <div>
                                        <div id="Grad_Reciprocal_eqn_1b">
                                            $$\displaystyle \nabla \Omega = - \frac{a}{ (x^2 +y^2)^ {\frac{3}{2}} } (x
                                            \mathbf{\hat{i}} + y \mathbf{\hat{j}} )$$
                                        </div>

                                        <div id="Grad_Gaussian_eqn_1b">
                                            $$ \displaystyle \nabla \Omega = \frac{-a}{100}e^{-\frac{x^2+y^2}{200}}(x
                                            \mathbf{\hat{i}} + y \mathbf{\hat{j}}) $$
                                        </div>

                                        <div id="Grad_Sinusodial_eqn_1b">
                                            $$\displaystyle \nabla \Omega = \frac{2 \pi}{15} a \cos \Big( \frac{2
                                            \pi}{12} y \Big) \mathbf{\hat{j}}$$
                                        </div>
                                    </div>

                                    <div>
                                        <div id="Reciprocal_eqn_1b">
                                            $$\Omega(x,y)= \frac{4a}{ \sqrt{x^2 + y^2} }$$
                                        </div>

                                        <div id="Gaussian_eqn_1b">
                                            $$\Omega(x,y) = ae^{-\frac{x^2+y^2}{200}}$$
                                        </div>

                                        <div id="Sinusodial_eqn_1b">
                                            $$\Omega(x,y)= \frac{4}{5} a\sin \Big( \frac{2 \pi}{12}y \Big) $$
                                        </div>
                                    </div>



                                </div>


                                <div >
                                    <div>
                                        <div id='Vector_Graph_1b' style="width:30vw; height:30vh;"></div>
                                    </div>

                                    <div>
                                        <div id='Scalar_Graph_1b' style="width:30vw; height:30vh;"> </div>
                                    </div>
                                </div>

                            </div>-->
                        </div>
                    </transition>
                </div>
                <div class="rightload text odd" id='loadout3' key="loadout3" v-if="currentSection === 3">
                    <transition name="fade">
                        <!--Interactive Zone Sub Containers-->
                        <div class="rightload text" id='loadout3sub1' key="loadout3sub1"
                            v-if="subSection[2] === 1">
                            <iframe src="VC/2aDiv_interactive.html" width="950px" height="800px"></iframe>
                            <!-- Graph -->
                            <!--<div class="one-third column" style="padding-left: 2em;">

                                <div id='graph' style="width:30vw; height:70vh;">
                                    &lt;!&ndash; Legend &ndash;&gt;
                                    <ul style="margin-top: -4em;">
                                        <li style="color: rgb(255,47,62);">Target Vector</li>
                                    </ul>
                                </div>
                            </div>

                            &lt;!&ndash;Buttons/Sliders&ndash;&gt;
                            <div class="one-third column" style="padding-left: 50px;">

                                &lt;!&ndash;Main body contents&ndash;&gt;
                                <div class="tab-content">
                                    <h6
                                        style="border-left: solid 0px rgb(79,255,16); padding-left: 0px; margin: 5px; padding-top: 1vh; ">
                                        Relative divergence </h6>
                                    &lt;!&ndash;BEGIN Slider&ndash;&gt;
                                    <label style="position: relative; float: left; width: 100%; top: 10px;">
                                        <input id="x3Controller" class="inputs" type="range" value="1" min="-1" max="1"
                                            step="0.01" oninput="x3.value=x3Controller.value" /></input>
                                        <br>
                                        <span> $ \nabla \cdot \mathbf{F}$ = <output id="x3"
                                                for="x3Controller">1</output></span>
                                    </label>
                                    &lt;!&ndash;END Slider&ndash;&gt;

                                    &lt;!&ndash;BEGIN Slider&ndash;&gt;
                                    <label>
                                        <input id="y3Controller">
                                    </label>
                                    &lt;!&ndash;END Slider&ndash;&gt;

                                    &lt;!&ndash;Unique Areas&ndash;&gt;
                                    &lt;!&ndash;BEGIN Basis Vector Area&ndash;&gt;
                                    <div class="tab-pane active" id="basis"></div>
                                    &lt;!&ndash;NB: Also need 'active' here&ndash;&gt;
                                    &lt;!&ndash;END Basis&ndash;&gt;
                                    &lt;!&ndash;END Area&ndash;&gt;
                                </div>
                                <div style="width:30vh; height:30vh; position: fixed; bottom: 50%; left: 63%">
                                    <img style="width:inherit; height:inherit;" src="VC/2adiv_sink.png">
                                </div>
                                <div style="width:30vh; height:30vh; position: fixed; bottom: 50%; left: 80%">
                                    <img style="width:inherit; height:inherit;" src="VC/2adiv_source.png">
                                </div>
                            </div>-->
                        </div>
                        <div class="rightload text" id='loadout3sub2' key="loadout3sub2" v-else>
                            <iframe src="VC/2bDiv_interactive.html" width="950px" height="800px"></iframe>
                            <!--Text next to new charge-->
                            <!--<label class="text" style="position: relative; left: 4%; display:inline-block;">
                                <font size="5">Move the surface element</font>
                            </label>
                            &lt;!&ndash;Text next to slider for user to choose magnet orientation&ndash;&gt;
                            <label class="text"
                                style="position: relative; left: 6%; height: 0vh; display:inline-block;">
                                <font size="4">Orientation:</font>
                            </label>
                            &lt;!&ndash;Slider for user to choose magnet orientation&ndash;&gt;
                            <label id="angleChange"
                                style="position: relative; left: 7%; width: 30%; height: 0vh; display:inline-block;"
                                value=false>
                                <input id="angle" class="inputs" onmousedown="angleChange.value=true"
                                    onmouseup="angleChange.value = false" type="range" value="0" min="0" max="360"
                                    step="1" oninput="amount2.value=angle.value" />
                            </label>
                            &lt;!&ndash;Display user input for magnet orientation on RHS of slider&ndash;&gt;
                            <label style="position: relative; left: 3%; display:inline-block;">
                                <output id="amount2" name="amount2" for="angle">0</output><span>°</span>
                            </label>
                            &lt;!&ndash;Display flux&ndash;&gt;
                            <label style="position: relative; left: 3%; display:inline-block;">
                                Flux:
                                <output id="flux"></output>
                            </label>
                            &lt;!&ndash;p5 canvas for drawing charges, fieldlines and loop&ndash;&gt;
                            <label id="sketch-holder" style="height: 100vh; width: 160vh; margin-top:-6.5%"/>-->
                        </div>
                    </transition>
                </div>
                <div class="rightload text even" id='loadout4' key="loadout4" v-if="currentSection === 4">
                    <transition name="fade">
                        <!--Interactive Zone Sub Containers-->
                        <div class="rightload text" id='loadout4sub1' key="loadout4sub1"
                            v-if="subSection[3] === 1">
                            <iframe src="VC/3bCurl_interactive.html" width="950px" height="800px"></iframe>
                            <!--<div class="three columns" id="buttons-holder"
                                style="position:inherit; margin-left: 1vw; margin-top: 5vh;">

                                <div id="settings">

                                    <p style="margin-top:-2vh;" id="desc">Loop type:</p>
                                    <div id="circuit-modifiers" style="margin-left: 6vw; margin-top: -2vw;">
                                        <select class="form-control" id="circuitSelectList" style="margin-top: -3vh">
                                            <option value="0">
                                                circle
                                            </option>
                                            <option value="1">
                                                arc 1
                                            </option>
                                            <option value="2">
                                                arc 2
                                            </option>
                                            <option value="3">
                                                rectangle 1
                                            </option>
                                            <option value="4">
                                                square
                                            </option>

                                        </select>

                                    </div>
                                    <button id="buttonPlay">Play</button>
                                    <button id="buttonReset">
                                        Reset
                                    </button>
                                    <div id="Current-modifiers">

                                        <button id="buttonAddWire">
                                            Add Curl Source
                                        </button>
                                        <br>
                                        <button id="buttonRemoveWires">
                                            Remove Curl Sources
                                        </button>
                                        <button id="buttonLoopToggle" style="display:none;">
                                            Remove Loop
                                        </button>
                                        <button id="buttonFieldFlow" style="display:none;">
                                            Field Flow
                                        </button>
                                        &lt;!&ndash;<br>
                                         <p>
                                          Wires Selected:
                                          <b>
                                           <span id="wireSelected" style="color:blue;">1</span>
                                          </b>
                                         </p>&ndash;&gt;
                                        <label class="sliderTitle" for="currentSlider" id="tagCurrentSlider"
                                            style="margin-bottom:0.1vh">
                                            Amount of Curl:
                                            <b>
                                                <span data-unit="Amps" id="currentDynamicDisplay">5</span>
                                            </b>
                                        </label>
                                        <label class="slider">
                                            <input id="currentSlider" max="10" min="-10" name="currentSlider" step="1"
                                                type="range" value="5">
                                        </label>
                                    </div>

                                    <div id="diameter-modifiers">
                                        <label class="sliderTitle" style="margin-bottom:0.1vh">
                                            Diameter of loop:
                                        </label>
                                        <label class="slider">
                                            <input id="diameterSlider" max="290" min="20" step="20" type="range">
                                        </label>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div class="rightload text" id='loadout4sub2' key="loadout4sub2" v-else>

                            <iframe src="VC/3bCurl_interactive.html" width="950px" height="800px"></iframe>






                            <!--<div class="eight columns" id="graphics-holder" >
                                <div id="sketch-holder"
                                    style="position: relative; top: -36vh; right: -2vw; width: 55vw; height: 60vh; cursor: default;">
                                    <canvas id="defaultCanvas0" class="p5Canvas" width="1524" height="521"
                                        ></canvas></div>
                                <div id="graph-holder"

                                    class="js-plotly-plot">
                                    <div class="plot-container plotly">
                                        <div class="svg-container"
                                            style="position: relative; width:550.359px; height:2vh; z-index: -2;">
                                            <svg class="main-svg" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="550.359"
                                                height="192.766" style="background: rgb(255, 255, 255);"></svg>


                                            <div class="modebar-container"
                                                style="position: absolute; top: 0px; right: 0px; width: 100%;"></div>
                                            <svg class="main-svg" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="550.359"
                                                height="192.766">
                                                <g class="hoverlayer"></g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div id="B-dl-text-holder"
                                    style="position:absolute; right:47vw; top:65vh; width:25%; height:30vh">
                                    <p style="font-size: large;">
                                        $\displaystyle\oint\mathbf{A.dl}=$
                                        <span id="Bdl-text">5.0*μ<sub>0<sub></sub></sub></span>
                                    </p>
                                    <p>
                                        We are using a Riemann sum to integrate, so the number of steps is referring to
                                        the number of steps used in the numerical integration.</p>

                                </div>
                            </div>-->
                        </div>
                    </transition>
                </div>
                <div class="rightload text wait" id='loadoutblank' key="loadoutblank"
                    v-if="1 <= currentSection <= 5 === false">
                    please wait...
                </div>
            </transition-group>
        </div>
        <!--    Title Banner above Right Side    -->

        <div class="rightScriptSpace"></div>
        <div class="derivationScriptSpace"></div>

    <!--    Title Banner above Right Side    -->
    <div class="banner">
        <!--    Visualisation Title    -->
        <h1 class="" id="vis-title">
            VECTOR CALCULUS CONCEPTS
        </h1>
        <a href="https://www.imperialvisualisations.com/learn/">
            <img id="vis-logo" src="VisualisationsLogoWhite2.png">
        </a>
    </div>
    <div class="rightScriptSpace"></div>
    <div class="rightSubScriptSpace"></div>
</div>
</body>

<script src="scripts/nav_Script.js"></script>

</html>