<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Title-->
    <title>Visualisations Vector Calculus</title>
    <!--css links-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet"
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/skeleton.css" rel="stylesheet">
    <link href="styles/index_Style.css" rel="stylesheet">
    <link href="styles/loadout_Style.css" rel="stylesheet">
    <!--Required JS resources-->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/debounce_and_throttle.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="scripts/numeric/src/numeric.js"></script>
    <script src="scripts/math.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });

    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body>
<div id="app">
    <!--   Title of non-current sections to appear on hovering above respective number in navbar     -->
    <div  id="hoverTitleSpace" :style="{left: mouseX +'px'}" v-show="hoverTitle !== false">
        {{hoverTitle}}
    </div>
    <!--    Left Side of Window - containing mainly text    -->
    <div class="vis-container left" id="left-container">
        <!--     Dynamic Navigation Bar and Section Headings       -->
        <div class="" id="progress-container">
            <div id="banner-dummy"></div>
            <!--    Dynamic Section Heading Text - overlaid on meters    -->
            <!--    Also act as buttons to navigate between sections    -->
            <div class="" id="overlay" @mousemove="hoverTitle !== false ? updateMouseX($event) : ''">
                <button :class="[currentTitle === 1 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle1"
                        key="sectionTitle1" data-no=1 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[0]}}
                </button>
                <button :class="[currentTitle === 2 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle2"
                        key="sectionTitle2" data-no=2 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[1]}}
                </button>
                <button :class="[currentTitle === 3 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle3"
                        key="sectionTitle3" data-no=3 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[2]}}
                </button>
                <button :class="[currentTitle === 4 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle4"
                        key="sectionTitle4" data-no=4 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[3]}}
                </button>
            </div>
            <!--    Dynamic meters indicating progress through each section    -->
            <meter :class="[currentTitle === 1 ? 'activeMeter' : '']" id="m1" :min="sectionTops[0]"
                   :max="sectionBottoms[0]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 2 ? 'activeMeter' : '']" id="m2" :min="sectionTops[1]"
                   :max="sectionBottoms[1]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 3 ? 'activeMeter' : '']" id="m3" :min="sectionTops[2]"
                   :max="sectionBottoms[2]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 4 ? 'activeMeter' : '']" id="m4" :min="sectionTops[3]"
                   :max="sectionBottoms[3]" :value="scrollPos"></meter>
        </div>
        <!--    Container for text content split into sections    -->
        <!--suppress XmlUnboundNsPrefix -->
        <div class="journey" id="main-journey" v-on:scroll.passive="scrollFunc">
            <!--    Section Text Containers   -->
            <div class="section-container" id="sc1">
                <div class="placeholder" id="ph1">
                    <hr>
                    <h2 class="text section-head" id="s1">
                        {{sectionTitle[0]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p1">
                    Given the vectors <span class="mathJaxInline">$ \vec{V}_{n} $</span> and <span class="mathJaxInline">$ \vec{V}_{m} $</span>, we define their
                    inner product as
                    <span class="mathJaxDisplay">
                            $$\vec{V}_{n} \cdot \vec{V}_{m} = \sum_{i}V_{n}^{(i)} V_{m}^{(i)}, $$
                        </span>
                    where <span class="mathJaxInline">$ V_{n}^{(i)} $</span> is the <span class="mathJaxInline">$ i^{\text{th}} $</span> component of the vector
                    <span class="mathJaxInline">$ \vec{V}_{n} $</span>. If
                    <span class="mathJaxDisplay">
                            $$ \vec{V}_{n} \cdot \vec{V}_{m} = 0 \text{ for } m \neq n, $$
                        </span>
                    then we say the vectors are <strong>orthogonal</strong>.
                    <br><br>
                    If you move in the direction of any vector <span class="mathJaxInline">$ \vec{a} $</span>, you do not change the position
                    component in the direction of any vector
                    orthogonal to <span class="mathJaxInline">$ \vec{a} $</span>. In other words, orthogonal vectors are perpendicular.
                    <!--(... talk about definition of orthogonality)-->
                    <br><br>
                    If <span class="mathJaxInline">$ \vec{V}_{n} \cdot \vec{V}_{m} = \delta_{nm} $</span> then the vectors are said to be
                    <strong>orthonormal</strong>.
                    <span class="mathJaxDisplay">
                            $$ \delta_{nm} = \left\{\begin{matrix}0 \quad \text{if } m\neq n
                            \\ 1 \quad \text{if } m = n
                            \end{matrix}\right. $$
                        </span>
                    This mean the vectors are orthogonal and conveniently normalised.
                    <br><br>
                    Use the visualisation to see that when the basis vectors are not parallel they span <span class="mathJaxInline">$ \mathbb{R}^{2} $</span>,
                    using these as basis vectors, we can construct any other vector in <span class="mathJaxInline">$ \mathbb{R}^{2} $</span>.
                    <br><br>
                    If you can represent any vector in <span class="mathJaxInline">$ \mathbb{R}^{n} $</span> using <span class="mathJaxInline">$ n $</span> vectors,
                    then the basis vectors form a <strong>complete set</strong>.
                    If the set of these vectors are all orthonormal, then we have a <strong>complete orthonormal
                    set</strong>.
                    <br><br>
                    In the same way as before, we will now demonstrate what it means for <strong>functions</strong> to
                    be complete.
                    We define the functions <span class="mathJaxInline">$ f_{n},f_{m} $</span> to exist on the domain <span class="mathJaxInline">$ \left[a,b \right] $</span>.
                    <br><br>
                    We define their inner product to be
                    <span class="mathJaxDisplay">
                            $$ \langle  f_{n} , f_{m} \rangle = \int_{a}^{b} f_{n}\left(x \right)f_{m}^{*}\left(x \right)dx $$
                        </span>
                    and say the functions are <strong>orthogonal</strong> if <span class="mathJaxInline">$ \langle  f_{n} , f_{m} \rangle = 0 $</span>
                    for <span class="mathJaxInline">$ m \neq n $</span>.
                    <br><br>
                    We then say the functions are <strong>orthonormal</strong> if <span class="mathJaxInline">$ \langle  f_{n} , f_{m} \rangle = \delta_{nm} $</span>.
                    <br><br>
                    We now claim that you can construct any square integrable function from a <strong>complete
                    set</strong> of basis
                    functions in the same way vectors could be constructed from a complete set of basis vectors. A
                    square integrable function <span class="mathJaxInline">$ f $</span> is
                    a function whose inner product with itself, <span class="mathJaxInline">$ \langle f,f \rangle $</span> is finite.
                </div>
            </div>
            <div class="section-container" id="sc2">
                <div class="placeholder" id="ph2">
                    <hr>
                    <h2 class="text section-head" id="s2">
                        Derivation
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p2">
                    <div id="section2Sub1" class="divclass">
                        <button id="ssh2-1" class="section-sub-head first-sub-head" key="ssh2-1" @click="updateSubSection(1); subScrollTo($event)" data-toggle="collapse" data-target="#section2Sub1ContentContainer"
                        :style="derivationSubSection === 1 ? 'background-color: #eaf2ff;' : ''">
                            Introduction to Fourier series <i class='fas fa-chevron-down'></i>
                        </button>
                        <div id="section2Sub1ContentContainer" class="collapse show" data-parent="#p2">
                            <div id="section2Sub1Content" class="section-sub-content" key="section2Sub1Content">
                                <div id="blablahContainer" class="collapse show extra-content-container">
                                    <div id="blahblahexplain" class="extra-content">
                                            <span class="mathJaxDisplay">
                                                \begin{align}
                                                = \frac{1}{2} \Big[  2c_n e^{in\pi x/L} + 2c_{-n} e^{-in\pi x/L} & \\
                                                + \underbrace{c_{-n} e^{in\pi x/L} - c_{-n} e^{in\pi x/L}}_\text{ =0} & \\
                                                + \underbrace{c_{n} e^{-in\pi x/L} -c_{n} e^{-in\pi x/L}}_\text{ =0} & \Big] \\
                                                \end{align}
                                                <br>
                                                \begin{align}
                                                = \frac{1}{2} \Big[ c_n e^{in\pi x/L} +c_{-n} e^{in\pi x/L} & \\
                                                + c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \\
                                                + c_n e^{in\pi x/L} - c_{-n} e^{in\pi x/L} & \\
                                                - c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \Big] \\
                                                \end{align}
                                            </span>
                                    </div>
                                </div>
                                Consider a function <span class="mathJaxInline">$ f(x) $</span> which is periodic over the domain <span class="mathJaxInline">$ -L \leq x < L $</span>
                                where <span class="mathJaxInline">$ L $</span> is positive. <span class="mathJaxInline">$ f(x) $</span> can be represented as a sum
                                of
                                sines and cosines with varying
                                frequencies.
                                <br><br>
                                These trigonometric functions form orthogonal basis.
                                <br><br>
                                The Fourier series of <span class="mathJaxInline">$ f(x) $</span> is
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \frac{a_0}{2} + \sum_{n=1}^{\infty} \Big[ a_n\cos\Big(\frac{\pi nx}{L}\Big) + b_n\sin\Big(\frac{\pi nx}{L}\Big) \Big] $$
                                    </span>
                                where
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        a_n & = \frac{1}{L}\int_{-L}^{L} f(x) \cos\Big(\frac{\pi nx}{L}\Big) dx, \\
                                        b_n & = \frac{1}{L}\int_{-L}^{L} f(x) \sin\Big(\frac{\pi nx}{L}\Big) dx, \\
                                        a_0 & = \frac{1}{L}\int_{-L}^{L} f(x) dx,
                                        \end{align}
                                    </span>
                                and
                                <span class="mathJaxDisplay">
                                        $$ n=0,1,2... $$
                                    </span>
                                <strong> Note:</strong> <span class="mathJaxInline">$ {a_0}/2 $</span> represents the average value of <span class="mathJaxInline">$ f(x) $</span>.
                                <br><br>
                                The Fourier series representation of the function <span class="mathJaxInline">$ f(x) $</span> in exponential
                                (complex) form is
                                <span class="mathJaxDisplay">
                                        $$ f(x) =\sum_{n=-\infty}^{\infty} c_n e^{{in \pi x}/L} \qquad $$
                                    </span>
                                where
                                <span class="mathJaxDisplay">
                                        $$ c_n = \frac{1}{2L}\int_{-L}^{L} f(x) e^{{-in \pi x}/L} dx, $$
                                    </span>
                                <strong>Note:</strong> The constants in front of the integral(s) of the coefficient for
                                the trigonometric and exponential fourier series are different. Also note the limit of
                                the
                                summations.
                            </div>
                        </div>
                    </div>
                    <div id="section2Sub2" class="divclass">
                        <button id="ssh2-2" class="section-sub-head collapsed" key="ssh2-2" @click="updateSubSection(2); subScrollTo($event)" data-toggle="collapse" data-target="#section2Sub2ContentContainer"
                                :style="derivationSubSection === 2 ? 'background-color: #eaf2ff;' : ''">
                            General Derivation <i class='fas fa-chevron-down'></i>
                        </button>
                        <div id="section2Sub2ContentContainer" class="collapse show" data-parent="#p2">
                            <div id="section2Sub2Content" class="section-sub-content" key="section2Sub2Content">
                                We begin by assuming that <span class="mathJaxInline">$ f(x) $</span> can be represented as a sum of
                                exponential terms.
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \sum_{n=-\infty}^{\infty} c_n e^{{in \pi x}/L} $$
                                    </span>
                                Multiplying by <span class="mathJaxInline">$ e^{{-im \pi x}/L} $</span>, where <span class="mathJaxInline">$ m=0,1,2... $</span>,
                                and integrating both sides gives the following:
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^{L} f(x) e^{{-im \pi x}/L} dx = \sum_{n=-\infty}^{\infty} c_n \int_{-L}^{L} e^{{i(n-m) \pi x}/L} dx. $$
                                    </span>
                                Performing the integral on the R.H.S gives
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^L e^{(i\pi x/L)(n-m)}dx =\left\{ \begin{array}{ll} 2L \qquad \text{(if n=m)} \\
                                        0 \qquad \quad \text{(if n≠m)} \end{array} \right \} = 2L \cdot \delta_{nm}. $$
                                    </span>
                                This is the orthonormality of complex exponentials.
                                <br><br>
                                Now since the only non-zero value of the sum is when <span class="mathJaxInline">$ n=m $</span>,
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^L f(x) e^{-im\pi x/L}dx = 2L \sum_{n=-\infty}^{+\infty}c_n\delta_{mn} = 2L\cdot c_m, $$
                                    </span>
                                hence
                                <span class="mathJaxDisplay">
                                        $$ c_m=\frac{1}{2L}\int_{-L}^{+L}f(x) e^{-im\pi x/L}dx. $$
                                    </span>
                                <strong>Note:</strong> As <span class="mathJaxInline">$ m $</span> is an arbitrary integer, it can be assigned
                                as <span class="mathJaxInline">$ n $</span> for simplicity.
                                <br><br>
                                Given the previously derived equation, we can derive the trigonometric form of the
                                Fourier series. By reorganising the sum, we get
                                <span class="mathJaxDisplay">
                                        $$ f(x)= \underbrace{c_0}_\text{n=0} + \sum_{n=1}^{\infty} \big( \underbrace{c_n e^{in\pi x/L}}_\text{Positive n term} + \underbrace{c_{-n} e^{-in\pi x/L}}_\text{Negative n terms} \big).$$
                                    </span>
                                We can regroup the terms in the summation in the following way:
                                <span class="section-extra-head-container">
                                        <button class="section-extra-head" data-toggle="collapse"  @click="hideShowToggle($event)"
                                                data-target="#regroupexplainContainer"> <span>Show</span> Full Calculation </button>
                                    </span>
                                <div id="regroupexplainContainer" class="collapse show extra-content-container">
                                    <div id="regroupexplain" class="extra-content">
                                            <span class="mathJaxDisplay">
                                                \begin{align}
                                                = \frac{1}{2} \Big[  2c_n e^{in\pi x/L} + 2c_{-n} e^{-in\pi x/L} & \\
                                                + \underbrace{c_{-n} e^{in\pi x/L} - c_{-n} e^{in\pi x/L}}_\text{ =0} & \\
                                                + \underbrace{c_{n} e^{-in\pi x/L} -c_{n} e^{-in\pi x/L}}_\text{ =0} & \Big] \\
                                                \end{align}
                                                <br>
                                                \begin{align}
                                                = \frac{1}{2} \Big[ c_n e^{in\pi x/L} +c_{-n} e^{in\pi x/L} & \\
                                                + c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \\
                                                + c_n e^{in\pi x/L} - c_{-n} e^{in\pi x/L} & \\
                                                - c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \Big] \\
                                                \end{align}
                                            </span>
                                    </div>
                                </div>
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        f(x)= c_0 + \sum_{n=1}^{\infty} \Big[ & \frac{c_n + c_{-n}}{2} \big(e^{in\pi x/L} +e^{-in\pi x/L} \big) \\
                                        & \frac{c_n - c_{-n}}{2} \big(e^{in\pi x/L} -e^{-in\pi x/L} \big) \Big]
                                        \end{align}
                                    </span>
                                Now define <span class="mathJaxInline">$ a_n = c_n + c_{-n} $</span> and
                                <span class="mathJaxInline">$ b_n = i(c_n - c_{-n}) $</span>
                                and use that these exponentials can we written as
                                sines and cosines.
                                <br><br>
                                <strong>Note:</strong> <span class="mathJaxInline">$ a_0 = 2c_0 $</span> and <span class="mathJaxInline">$ b_0=0 $</span>.
                                <br><br>
                                Hence
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \frac{a_0}{2} + \sum_{n=1}^{\infty} \Big[ a_n\cos\Big(\frac{\pi nx}{L}\Big) + b_n\sin\Big(\frac{\pi nx}{L}\Big) \Big] $$
                                    </span>
                                <span class="mathJaxInline">$ a_n $</span> can be derived by using the expression from <span class="mathJaxInline">$ c_n $</span>
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        a_n = c_n + c_{-n} = & \frac{1}{2L}\int_{-L}^{+L}f(x) e^{-in\pi x/L}dx \\
                                        + & \frac{1}{2L} \int_{-L}^{+L}f(x) e^{in\pi x/L}dx
                                        \end{align}
                                    </span>
                                Factorise and spot the exponential form of <span class="mathJaxInline">$ \cos $</span>.
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        & =\frac{1}{L}\int_{-L}^{+L}f(x) \Big[\frac{e^{in\pi x/L} +e^{-in\pi x/L}}{2}\Big]dx \\
                                        & =\frac{1}{L}\int_{-L}^{L} f(x) \cos\Big(\frac{\pi nx}{L}\Big) dx
                                        \end{align}
                                    </span>
                                Similarly for <span class="mathJaxInline">$ b_n $</span>,
                                <span class="mathJaxDisplay">
                                        $$ b_n =\frac{1}{L}\int_{-L}^{L} f(x) \sin\Big(\frac{\pi nx}{L}\Big) dx. $$
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container" id="sc3">
                <div class="placeholder" id="ph3">
                    <hr>
                    <h2 class="text section-head" id="s3">
                        Derivation
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p3">
                    <div id="section3Sub1" class="divclass">
                        <button id="ssh3-1" class="section-sub-head first-sub-head" key="ssh3-1" @click="updateSubSection(1); subScrollTo($event)" data-toggle="collapse" data-target="#section3Sub1ContentContainer"
                                :style="derivationSubSection === 1 ? 'background-color: #eaf2ff;' : ''">
                            Introduction to Fourier series <i class='fas fa-chevron-down'></i>
                        </button>
                        <div id="section3Sub1ContentContainer" class="collapse show" data-parent="#p3">
                            <div id="section3Sub1Content" class="section-sub-content" key="section3Sub1Content">
                                Consider a function <span class="mathJaxInline">$ f(x) $</span> which is periodic over the domain <span class="mathJaxInline">$ -L \leq x < L $</span>
                                where <span class="mathJaxInline">$ L $</span> is positive. <span class="mathJaxInline">$ f(x) $</span> can be represented as a sum
                                of
                                sines and cosines with varying
                                frequencies.
                                <br><br>
                                These trigonometric functions form orthogonal basis.
                                <br><br>
                                The Fourier series of <span class="mathJaxInline">$ f(x) $</span> is
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \frac{a_0}{2} + \sum_{n=1}^{\infty} \Big[ a_n\cos\Big(\frac{\pi nx}{L}\Big) + b_n\sin\Big(\frac{\pi nx}{L}\Big) \Big] $$
                                    </span>
                                where
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        a_n & = \frac{1}{L}\int_{-L}^{L} f(x) \cos\Big(\frac{\pi nx}{L}\Big) dx, \\
                                        b_n & = \frac{1}{L}\int_{-L}^{L} f(x) \sin\Big(\frac{\pi nx}{L}\Big) dx, \\
                                        a_0 & = \frac{1}{L}\int_{-L}^{L} f(x) dx,
                                        \end{align}
                                    </span>
                                and
                                <span class="mathJaxDisplay">
                                        $$ n=0,1,2... $$
                                    </span>
                                <strong> Note:</strong> <span class="mathJaxInline">$ {a_0}/2 $</span> represents the average value of <span class="mathJaxInline">$ f(x) $</span>.
                                <br><br>
                                The Fourier series representation of the function <span class="mathJaxInline">$ f(x) $</span> in exponential
                                (complex) form is
                                <span class="mathJaxDisplay">
                                        $$ f(x) =\sum_{n=-\infty}^{\infty} c_n e^{{in \pi x}/L} \qquad $$
                                    </span>
                                where
                                <span class="mathJaxDisplay">
                                        $$ c_n = \frac{1}{2L}\int_{-L}^{L} f(x) e^{{-in \pi x}/L} dx, $$
                                    </span>
                                <strong>Note:</strong> The constants in front of the integral(s) of the coefficient for
                                the trigonometric and exponential fourier series are different. Also note the limit of
                                the
                                summations.
                            </div>
                        </div>
                    </div>
                    <div id="section3Sub2" class="divclass">
                        <button id="ssh3-2" class="section-sub-head collapsed" key="ssh3-2" @click="updateSubSection(2); subScrollTo($event)" data-toggle="collapse" data-target="#section3Sub2ContentContainer"
                                :style="derivationSubSection === 2 ? 'background-color: #eaf2ff;' : ''">
                            General Derivation <i class='fas fa-chevron-down'></i>
                        </button>
                        <div id="section3Sub2ContentContainer" class="collapse show" data-parent="#p3">
                            <div id="section3Sub2Content" class="section-sub-content" key="section3Sub2Content">
                                We begin by assuming that <span class="mathJaxInline">$ f(x) $</span> can be represented as a sum of
                                exponential terms.
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \sum_{n=-\infty}^{\infty} c_n e^{{in \pi x}/L} $$
                                    </span>
                                Multiplying by <span class="mathJaxInline">$ e^{{-im \pi x}/L} $</span>, where <span class="mathJaxInline">$ m=0,1,2... $</span>,
                                and integrating both sides gives the following:
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^{L} f(x) e^{{-im \pi x}/L} dx = \sum_{n=-\infty}^{\infty} c_n \int_{-L}^{L} e^{{i(n-m) \pi x}/L} dx. $$
                                    </span>
                                Performing the integral on the R.H.S gives
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^L e^{(i\pi x/L)(n-m)}dx =\left\{ \begin{array}{ll} 2L \qquad \text{(if n=m)} \\
                                        0 \qquad \quad \text{(if n≠m)} \end{array} \right \} = 2L \cdot \delta_{nm}. $$
                                    </span>
                                This is the orthonormality of complex exponentials.
                                <br><br>
                                Now since the only non-zero value of the sum is when <span class="mathJaxInline">$ n=m $</span>,
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^L f(x) e^{-im\pi x/L}dx = 2L \sum_{n=-\infty}^{+\infty}c_n\delta_{mn} = 2L\cdot c_m, $$
                                    </span>
                                hence
                                <span class="mathJaxDisplay">
                                        $$ c_m=\frac{1}{2L}\int_{-L}^{+L}f(x) e^{-im\pi x/L}dx. $$
                                    </span>
                                <strong>Note:</strong> As <span class="mathJaxInline">$ m $</span> is an arbitrary integer, it can be assigned
                                as <span class="mathJaxInline">$ n $</span> for simplicity.
                                <br><br>
                                Given the previously derived equation, we can derive the trigonometric form of the
                                Fourier series. By reorganising the sum, we get
                                <span class="mathJaxDisplay">
                                        $$ f(x)= \underbrace{c_0}_\text{n=0} + \sum_{n=1}^{\infty} \big( \underbrace{c_n e^{in\pi x/L}}_\text{Positive n term} + \underbrace{c_{-n} e^{-in\pi x/L}}_\text{Negative n terms} \big).$$
                                    </span>
                                We can regroup the terms in the summation in the following way:
                                <span class="section-extra-head-container">
                                        <button class="section-extra-head" data-toggle="collapse"  @click="hideShowToggle($event)"
                                                data-target="#regroupexplainContainer"> <span>Show</span> Full Calculation </button>
                                    </span>
                                <div id="regroupexplainContainer" class="collapse show extra-content-container">
                                    <div id="regroupexplain" class="extra-content">
                                            <span class="mathJaxDisplay">
                                                \begin{align}
                                                = \frac{1}{2} \Big[  2c_n e^{in\pi x/L} + 2c_{-n} e^{-in\pi x/L} & \\
                                                + \underbrace{c_{-n} e^{in\pi x/L} - c_{-n} e^{in\pi x/L}}_\text{ =0} & \\
                                                + \underbrace{c_{n} e^{-in\pi x/L} -c_{n} e^{-in\pi x/L}}_\text{ =0} & \Big] \\
                                                \end{align}
                                                <br>
                                                \begin{align}
                                                = \frac{1}{2} \Big[ c_n e^{in\pi x/L} +c_{-n} e^{in\pi x/L} & \\
                                                + c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \\
                                                + c_n e^{in\pi x/L} - c_{-n} e^{in\pi x/L} & \\
                                                - c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \Big] \\
                                                \end{align}
                                            </span>
                                    </div>
                                </div>
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        f(x)= c_0 + \sum_{n=1}^{\infty} \Big[ & \frac{c_n + c_{-n}}{2} \big(e^{in\pi x/L} +e^{-in\pi x/L} \big) \\
                                        & \frac{c_n - c_{-n}}{2} \big(e^{in\pi x/L} -e^{-in\pi x/L} \big) \Big]
                                        \end{align}
                                    </span>
                                Now define <span class="mathJaxInline">$ a_n = c_n + c_{-n} $</span> and
                                <span class="mathJaxInline">$ b_n = i(c_n - c_{-n}) $</span>
                                and use that these exponentials can we written as
                                sines and cosines.
                                <br><br>
                                <strong>Note:</strong> <span class="mathJaxInline">$ a_0 = 2c_0 $</span> and <span class="mathJaxInline">$ b_0=0 $</span>.
                                <br><br>
                                Hence
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \frac{a_0}{2} + \sum_{n=1}^{\infty} \Big[ a_n\cos\Big(\frac{\pi nx}{L}\Big) + b_n\sin\Big(\frac{\pi nx}{L}\Big) \Big] $$
                                    </span>
                                <span class="mathJaxInline">$ a_n $</span> can be derived by using the expression from <span class="mathJaxInline">$ c_n $</span>
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        a_n = c_n + c_{-n} = & \frac{1}{2L}\int_{-L}^{+L}f(x) e^{-in\pi x/L}dx \\
                                        + & \frac{1}{2L} \int_{-L}^{+L}f(x) e^{in\pi x/L}dx
                                        \end{align}
                                    </span>
                                Factorise and spot the exponential form of <span class="mathJaxInline">$ \cos $</span>.
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        & =\frac{1}{L}\int_{-L}^{+L}f(x) \Big[\frac{e^{in\pi x/L} +e^{-in\pi x/L}}{2}\Big]dx \\
                                        & =\frac{1}{L}\int_{-L}^{L} f(x) \cos\Big(\frac{\pi nx}{L}\Big) dx
                                        \end{align}
                                    </span>
                                Similarly for <span class="mathJaxInline">$ b_n $</span>,
                                <span class="mathJaxDisplay">
                                        $$ b_n =\frac{1}{L}\int_{-L}^{L} f(x) \sin\Big(\frac{\pi nx}{L}\Big) dx. $$
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container" id="sc4">
                <div class="placeholder" id="ph4">
                    <hr>
                    <h2 class="text section-head" id="s4">
                        Derivation
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p4">
                    <div id="section4Sub1" class="divclass">
                        <button id="ssh4-1" class="section-sub-head first-sub-head" key="ssh4-1" @click="updateSubSection(1); subScrollTo($event)" data-toggle="collapse" data-target="#section4Sub1ContentContainer"
                                :style="derivationSubSection === 1 ? 'background-color: #eaf2ff;' : ''">
                            Introduction to Fourier series <i class='fas fa-chevron-down'></i>
                        </button>
                        <div id="section4Sub1ContentContainer" class="collapse show" data-parent="#p4">
                            <div id="section4Sub1Content" class="section-sub-content" key="section4Sub1Content">
                                Consider a function <span class="mathJaxInline">$ f(x) $</span> which is periodic over the domain <span class="mathJaxInline">$ -L \leq x < L $</span>
                                where <span class="mathJaxInline">$ L $</span> is positive. <span class="mathJaxInline">$ f(x) $</span> can be represented as a sum
                                of
                                sines and cosines with varying
                                frequencies.
                                <br><br>
                                These trigonometric functions form orthogonal basis.
                                <br><br>
                                The Fourier series of <span class="mathJaxInline">$ f(x) $</span> is
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \frac{a_0}{2} + \sum_{n=1}^{\infty} \Big[ a_n\cos\Big(\frac{\pi nx}{L}\Big) + b_n\sin\Big(\frac{\pi nx}{L}\Big) \Big] $$
                                    </span>
                                where
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        a_n & = \frac{1}{L}\int_{-L}^{L} f(x) \cos\Big(\frac{\pi nx}{L}\Big) dx, \\
                                        b_n & = \frac{1}{L}\int_{-L}^{L} f(x) \sin\Big(\frac{\pi nx}{L}\Big) dx, \\
                                        a_0 & = \frac{1}{L}\int_{-L}^{L} f(x) dx,
                                        \end{align}
                                    </span>
                                and
                                <span class="mathJaxDisplay">
                                        $$ n=0,1,2... $$
                                    </span>
                                <strong> Note:</strong> <span class="mathJaxInline">$ {a_0}/2 $</span> represents the average value of <span class="mathJaxInline">$ f(x) $</span>.
                                <br><br>
                                The Fourier series representation of the function <span class="mathJaxInline">$ f(x) $</span> in exponential
                                (complex) form is
                                <span class="mathJaxDisplay">
                                        $$ f(x) =\sum_{n=-\infty}^{\infty} c_n e^{{in \pi x}/L} \qquad $$
                                    </span>
                                where
                                <span class="mathJaxDisplay">
                                        $$ c_n = \frac{1}{2L}\int_{-L}^{L} f(x) e^{{-in \pi x}/L} dx, $$
                                    </span>
                                <strong>Note:</strong> The constants in front of the integral(s) of the coefficient for
                                the trigonometric and exponential fourier series are different. Also note the limit of
                                the
                                summations.
                            </div>
                        </div>
                    </div>
                    <div id="section4Sub2" class="divclass">
                        <button id="ssh4-2" class="section-sub-head collapsed" key="ssh4-2" @click="updateSubSection(2); subScrollTo($event)" data-toggle="collapse" data-target="#section4Sub2ContentContainer"
                                :style="derivationSubSection === 2 ? 'background-color: #eaf2ff;' : ''">
                            General Derivation <i class='fas fa-chevron-down'></i>
                        </button>
                        <div id="section4Sub2ContentContainer" class="collapse show" data-parent="#p4">
                            <div id="section4Sub2Content" class="section-sub-content" key="section4Sub2Content">
                                We begin by assuming that <span class="mathJaxInline">$ f(x) $</span> can be represented as a sum of
                                exponential terms.
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \sum_{n=-\infty}^{\infty} c_n e^{{in \pi x}/L} $$
                                    </span>
                                Multiplying by <span class="mathJaxInline">$ e^{{-im \pi x}/L} $</span>, where <span class="mathJaxInline">$ m=0,1,2... $</span>,
                                and integrating both sides gives the following:
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^{L} f(x) e^{{-im \pi x}/L} dx = \sum_{n=-\infty}^{\infty} c_n \int_{-L}^{L} e^{{i(n-m) \pi x}/L} dx. $$
                                    </span>
                                Performing the integral on the R.H.S gives
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^L e^{(i\pi x/L)(n-m)}dx =\left\{ \begin{array}{ll} 2L \qquad \text{(if n=m)} \\
                                        0 \qquad \quad \text{(if n≠m)} \end{array} \right \} = 2L \cdot \delta_{nm}. $$
                                    </span>
                                This is the orthonormality of complex exponentials.
                                <br><br>
                                Now since the only non-zero value of the sum is when <span class="mathJaxInline">$ n=m $</span>,
                                <span class="mathJaxDisplay">
                                        $$ \int_{-L}^L f(x) e^{-im\pi x/L}dx = 2L \sum_{n=-\infty}^{+\infty}c_n\delta_{mn} = 2L\cdot c_m, $$
                                    </span>
                                hence
                                <span class="mathJaxDisplay">
                                        $$ c_m=\frac{1}{2L}\int_{-L}^{+L}f(x) e^{-im\pi x/L}dx. $$
                                    </span>
                                <strong>Note:</strong> As <span class="mathJaxInline">$ m $</span> is an arbitrary integer, it can be assigned
                                as <span class="mathJaxInline">$ n $</span> for simplicity.
                                <br><br>
                                Given the previously derived equation, we can derive the trigonometric form of the
                                Fourier series. By reorganising the sum, we get
                                <span class="mathJaxDisplay">
                                        $$ f(x)= \underbrace{c_0}_\text{n=0} + \sum_{n=1}^{\infty} \big( \underbrace{c_n e^{in\pi x/L}}_\text{Positive n term} + \underbrace{c_{-n} e^{-in\pi x/L}}_\text{Negative n terms} \big).$$
                                    </span>
                                We can regroup the terms in the summation in the following way:
                                <span class="section-extra-head-container">
                                        <button class="section-extra-head" data-toggle="collapse"  @click="hideShowToggle($event)"
                                                data-target="#regroupexplainContainer"> <span>Show</span> Full Calculation </button>
                                    </span>
                                <div id="regroupexplainContainer" class="collapse show extra-content-container">
                                    <div id="regroupexplain" class="extra-content">
                                            <span class="mathJaxDisplay">
                                                \begin{align}
                                                = \frac{1}{2} \Big[  2c_n e^{in\pi x/L} + 2c_{-n} e^{-in\pi x/L} & \\
                                                + \underbrace{c_{-n} e^{in\pi x/L} - c_{-n} e^{in\pi x/L}}_\text{ =0} & \\
                                                + \underbrace{c_{n} e^{-in\pi x/L} -c_{n} e^{-in\pi x/L}}_\text{ =0} & \Big] \\
                                                \end{align}
                                                <br>
                                                \begin{align}
                                                = \frac{1}{2} \Big[ c_n e^{in\pi x/L} +c_{-n} e^{in\pi x/L} & \\
                                                + c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \\
                                                + c_n e^{in\pi x/L} - c_{-n} e^{in\pi x/L} & \\
                                                - c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \Big] \\
                                                \end{align}
                                            </span>
                                    </div>
                                </div>
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        f(x)= c_0 + \sum_{n=1}^{\infty} \Big[ & \frac{c_n + c_{-n}}{2} \big(e^{in\pi x/L} +e^{-in\pi x/L} \big) \\
                                        & \frac{c_n - c_{-n}}{2} \big(e^{in\pi x/L} -e^{-in\pi x/L} \big) \Big]
                                        \end{align}
                                    </span>
                                Now define <span class="mathJaxInline">$ a_n = c_n + c_{-n} $</span> and
                                <span class="mathJaxInline">$ b_n = i(c_n - c_{-n}) $</span>
                                and use that these exponentials can we written as
                                sines and cosines.
                                <br><br>
                                <strong>Note:</strong> <span class="mathJaxInline">$ a_0 = 2c_0 $</span> and <span class="mathJaxInline">$ b_0=0 $</span>.
                                <br><br>
                                Hence
                                <span class="mathJaxDisplay">
                                        $$ f(x) = \frac{a_0}{2} + \sum_{n=1}^{\infty} \Big[ a_n\cos\Big(\frac{\pi nx}{L}\Big) + b_n\sin\Big(\frac{\pi nx}{L}\Big) \Big] $$
                                    </span>
                                <span class="mathJaxInline">$ a_n $</span> can be derived by using the expression from <span class="mathJaxInline">$ c_n $</span>
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        a_n = c_n + c_{-n} = & \frac{1}{2L}\int_{-L}^{+L}f(x) e^{-in\pi x/L}dx \\
                                        + & \frac{1}{2L} \int_{-L}^{+L}f(x) e^{in\pi x/L}dx
                                        \end{align}
                                    </span>
                                Factorise and spot the exponential form of <span class="mathJaxInline">$ \cos $</span>.
                                <span class="mathJaxDisplay">
                                        \begin{align}
                                        & =\frac{1}{L}\int_{-L}^{+L}f(x) \Big[\frac{e^{in\pi x/L} +e^{-in\pi x/L}}{2}\Big]dx \\
                                        & =\frac{1}{L}\int_{-L}^{L} f(x) \cos\Big(\frac{\pi nx}{L}\Big) dx
                                        \end{align}
                                    </span>
                                Similarly for <span class="mathJaxInline">$ b_n $</span>,
                                <span class="mathJaxDisplay">
                                        $$ b_n =\frac{1}{L}\int_{-L}^{L} f(x) \sin\Big(\frac{\pi nx}{L}\Big) dx. $$
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Right Side of Window - containing mainly interactive and visual content    -->
    <div class="vis-container right" id="right-container">
        <!--    fade transition tag for RHS - applied by Vue and CSS    -->
        <transition-group name="fade" tag="div" class="transition-container">
            <!--    Interactive Zone Containers   -->
            <div class="rightload text odd" id='loadout1'
                 key="loadout1" v-if="currentSection === 1">

            </div>
            <div class="rightload text even" id='loadout2'
                 key="loadout2" v-if="currentSection === 2">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout2sub1' key="loadout2sub1" v-if="derivationSubSection !== 3">
                    </div>
                    <div class="rightload text" id='loadout2sub2' key="loadout2sub2" v-else>
                    </div>
                </transition>
            </div>
            <div class="rightload text odd" id='loadout3'
                 key="loadout2" v-if="currentSection === 2">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout3sub1' key="loadout2sub1" v-if="derivationSubSection !== 3">
                    </div>
                    <div class="rightload text" id='loadout3sub2' key="loadout2sub2" v-else>
                    </div>
                </transition>
            </div>
            <div class="rightload text even" id='loadout4'
                 key="loadout4" v-if="currentSection === 2">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout4sub1' key="loadout4sub1" v-if="derivationSubSection !== 3">
                    </div>
                    <div class="rightload text" id='loadout4sub2' key="loadout4sub2" v-else>
                    </div>
                </transition>
            </div>
            <div class="rightload text wait" id='loadoutblank' key="loadoutblank"
                 v-if="1 <= currentSection <= 5 === false">
                please wait...
            </div>
        </transition-group>
    </div>
    <!--    Title Banner above Right Side    -->
    <div class="banner">
        <!--    Visualisation Title    -->
        <h1 class="" id="vis-title">
            THE FOURIER SERIES
        </h1>
        <a href="https://www.imperialvisualisations.com/learn/">
            <img id="vis-logo" src="VisualisationsLogoWhite2.png">
        </a>
    </div>
    <div class="rightScriptSpace"></div>
    <div class="derivationScriptSpace"></div>
</div>
</body>

<script src="scripts/nav_Script.js"></script>

</html>