<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Title-->

    <title>Visualisations Vector Calculus</title>
    <!--css links-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet"
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/skeleton.css" rel="stylesheet">
    <link href="styles/index_Style.css" rel="stylesheet">
    <link href="styles/loadout_Style.css" rel="stylesheet">
    <!--Required JS resources-->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/debounce_and_throttle.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="scripts/numeric/src/numeric.js"></script>
    <script src="scripts/math.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body>
<div id="app">
    <!--   Title of non-current sections to appear on hovering above respective number in navbar     -->
    <div  id="hoverTitleSpace" :style="{left: mouseX +'px'}" v-show="hoverTitle !== false">
        {{hoverTitle}}
    </div>
    <!--    Left Side of Window - containing mainly text    -->
    <div class="vis-container left" id="left-container">
        <!--     Dynamic Navigation Bar and Section Headings       -->
        <div class="" id="progress-container">
            <div id="banner-dummy"></div>
            <!--    Dynamic Section Heading Text - overlaid on meters    -->
            <!--    Also act as buttons to navigate between sections    -->
            <div class="" id="overlay" @mousemove="hoverTitle !== false ? updateMouseX($event) : ''">
                <button :class="[currentTitle === 1 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle1"
                        key="sectionTitle1" data-no=1 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[0]}}
                </button>
                <button :class="[currentTitle === 2 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle2"
                        key="sectionTitle2" data-no=2 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[1]}}
                </button>
                <button :class="[currentTitle === 3 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle3"
                        key="sectionTitle3" data-no=3 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[2]}}
                </button>
                <button :class="[currentTitle === 4 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle4"
                        key="sectionTitle4" data-no=4 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[3]}}
                </button>
            </div>
            <!--    Dynamic meters indicating progress through each section    -->
            <meter :class="[currentTitle === 1 ? 'activeMeter' : '']" id="m1" :min="sectionTops[0]"
                   :max="sectionBottoms[0]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 2 ? 'activeMeter' : '']" id="m2" :min="sectionTops[1]"
                   :max="sectionBottoms[1]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 3 ? 'activeMeter' : '']" id="m3" :min="sectionTops[2]"
                   :max="sectionBottoms[2]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 4 ? 'activeMeter' : '']" id="m4" :min="sectionTops[3]"
                   :max="sectionBottoms[3]" :value="scrollPos"></meter>
        </div>
        <!--    Container for text content split into sections    -->
        <!--suppress XmlUnboundNsPrefix -->
        <div class="journey" id="main-journey" v-on:scroll.passive="scrollFunc">
            <!--    Section Text Containers   -->
            <div class="section-container" id="sc1">
                <div class="placeholder" id="ph1">
                    <hr>
                    <h2 class="text section-head" id="s1">
                        {{sectionTitleLong[0]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p1">
                    Intro text
                </div>
            </div>
            <div class="section-container" id="sc2">
                <div class="placeholder" id="ph2">
                    <hr>
                    <h2 class="text section-head" id="s2">
                        {{sectionTitleLong[1]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p2">
                    <ul class="nav nav-pills nav-justified">
                        <li :class="[subSection[0] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="pill" href="#gradDifferential" @click="subScrollTo(2); subSection[0]=1; loadSubScripts(); reMathJax($event); $forceUpdate();">Grad Differential</a>
                        </li>
                        <li :class="[subSection[0] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="pill" href="#gradIntegral" @click="subScrollTo(2); subSection[0]=2; loadSubScripts(); reMathJax($event); $forceUpdate();">Grad Integral</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="gradDifferential" class="tab-pane fade in active show">
                            <p>
                                Grad operates on a scalar field $f(x, y)$ to produce a vector field indicating the magnitude and direction of the
                                steepest gradient at each point.  It is easy to remember that grad produces a vector field, because it is necessary
                                for the gradient to have a direction once there is more than one dimension involved.  It must act on a scalar field
                                because it doesn't make much sense for a vector field to have a gradient.
                            </p>
                            <p>
                                The surface shown on the right is a scalar function $f$ of two independent variables, $x$ and $y$.  Note that it is a 2D scalar field &mdash;
                                the third dimension is just being used to display the value of the function.
                            </p>
                            <p>
                                Beneath it the gradient of the function $\nabla f$ is shown.  By changing the coefficient $a$, the gradient of the function can be increased
                                and decreased in certain directions.  There are also several functions to choose from.
                            </p>
                            <p>
                                The idea extends to three dimensions in the same way.  For example, if you were to plot the magnitude of the Sun's gravitational field
                                in 3D space around the Sun, the gradient of this field would give vectors that point to the centre of the Sun at every point.
                            </p>
                        </div>
                        <div id="gradIntegral" class="tab-pane fade">
                            <h5>$$ \Omega_B - \Omega_A = \int _A ^B \nabla \Omega \cdot \mathbf{ dl }$$</h5>
                            <p>
                                <br>
                                For a given vector field, if $\mathbf{A} \cdot \mathbf{ dl }$ is an exact differential, $\mathbf{A}$ is a conservative field. Then, $\mathbf{A}$ is the
                                gradient function of some scalar function $\Omega$. That is, $\mathbf{A} = \nabla {\Omega}$.
                                We can relate $\Omega$ and $\nabla \Omega$ by the equation below:
                                $$ \int _A ^B \nabla \Omega \cdot \mathbf{ dl } = \Omega_B - \Omega_A$$
                                From this equation above, we can see that the integral is independent of the path that one takes from A to B,
                                for it is determined by only the values from the parent function $\Omega_B - \Omega_A$. This is a generalisation of the Fundamental Theorem of Calculus.
                            </p>
                            <h5>Visualisation Guide</h5>
                            <ol>
                                <li>On the right, you can see a gradient field and its scalar parent function.
                                    Change the value of the parameter $a$, and observe the change in $\nabla \Omega$ and $\Omega$.</li>
                                <li>Note that as the magnitude of $a$ increases, the length of the arrows in $\nabla \Omega$ increases and the contour of the parent function
                                    $\Omega$ becomes steeper as well. Hence, the gradient vector increases in magnitude as well.</li>
                                <li>All gradient fields shown in this suite are conservative. This means that the line integral along the field,
                                    $\int \nabla \Omega \cdot \mathbf{ dl }$ is path independent. Move the path of the ball from Point A to Point B
                                    along 2 different paths, Path 1 and Path 2.</li>
                                <li>Observe their function values. Note that along the path, the value of $\Omega$ may be different.
                                    However, when the balls reach Point B, their function values are equal.</li>
                                <li>This means that the line integral $\int _A ^B \nabla \Omega \cdot \mathbf{ dl }$  is determined
                                    only by the value of $\Omega$ at the limits, $\Omega_B - \Omega_A$.</li>
                                <li>There are a few other functions for you to play around with. Click the dropdown menu to find out.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container" id="sc3">
                <div class="placeholder" id="ph3">
                    <hr>
                    <h2 class="text section-head" id="s3">
                        {{sectionTitleLong[2]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p3">
                    <ul class="nav nav-pills nav-justified">
                        <li :class="[subSection[1] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="pill" href="#divergenceDifferential" @click="subScrollTo(3); subSection[1]=1; loadSubScripts(); reMathJax($event); $forceUpdate();">Divergence Differential</a>
                        </li>
                        <li :class="[subSection[1] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="pill" href="#divergenceIntegral" @click="subScrollTo(3); subSection[1]=2; loadSubScripts(); reMathJax($event); $forceUpdate();">Divergence Integral</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="divergenceDifferential" class="tab-pane fade in active show">
                            <h2> What is divergence?</h2>
                            <p>
                                The divergence of a field quantifies how much a field varies in the direction of the field lines. A
                                field is said to be diverging if the field strength changes as you step along field lines. On an
                                infinitesimal level, this may be interpreted as 'sources' of field strength 'creating' or 'destroying'
                                field lines. It may be calculated using the $\displaystyle \nabla $ operator on a vector field to generate
                                a scalar field. The Visualisation on the right shows an infinitesimal section of a surface (the y axis). The arrows show
                                the direction of the field lines while their thickness and colour represent the field strength. Use the
                                $\displaystyle \nabla  $ slider to understand the difference between positive and negative divergence.
                                <br>
                                <br>
                                Divergence may also occur if there are sources of field lines (e.g. monopoles) that increase/decrease the
                                line density of a field, as shown by the figure to the right. The source of divergence adds field lines whereas
                                the sink takes them away. Hence the source has a positive divergence and the sink has a negative divergence.
                            </p>
                        </div>
                        <div id="divergenceIntegral" class="tab-pane fade">
                            Flux - the flow of field lines
                            <br><br>
                            We often call $\mathbf{F} \cdot d\mathbf{S}$ the flux of field $\mathbf{F}$ perpendicular through a surface element $dS$.
                            In this visualisation, the green line can be thought as taking the side view of the surface element.
                            <br><br>
                            The <b>net</b> flux through any surface $S$ is given by the integral:
                            $$\iint_S \mathbf{F} \cdot d\mathbf{S}$$
                            By considering a <b>closed</b> surface, the Divergence Theorem relates the net flux to the divergence of the field:
                            <center>$\unicode{x222F}_S \mathbf{F} \cdot d\mathbf{S} = \iiint_V \nabla \cdot \mathbf{F} dV$</center>
                            <br>
                            An <a href="Visualisations/Static-Electromagnetism/EM_p1.html">example</a> of the Divergence Theorem is Maxwell's Equation.
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container" id="sc4">
                <div class="placeholder" id="ph4">
                    <hr>
                    <h2 class="text section-head" id="s4">
                        {{sectionTitleLong[3]}}
                    </h2>
                    <hr>
                </div>
                <div class="text section-body odd" id="p4">
                    <ul class="nav nav-pills nav-justified">
                        <li :class="[subSection[2] === 1 ? 'shaded' : '', 'active', 'tabLeft']">
                            <a data-toggle="pill" href="#curlDifferential" @click="subScrollTo(4); subSection[2]=1; loadSubScripts(); reMathJax($event); $forceUpdate();">Curl Differential</a>
                        </li>
                        <li :class="[subSection[2] === 2 ? 'shaded' : '', 'tabRight']">
                            <a data-toggle="pill" href="#curlIntegral" @click="subScrollTo(4); subSection[2]=2; loadSubScripts(); reMathJax($event); $forceUpdate();">Curl Integral</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="curlDifferential" class="tab-pane fade in active show">
                            <center><h4>Curl Operator, $\nabla \times \mathbf{f} $</h4></center>
                            <p id="Main-text">
                                Stokes' Theorem states:<br>
                                $\displaystyle \oint_{l} \mathbf{A.dl} =$ $\displaystyle \iint_{S} \nabla \times \mathbf {A} \cdot d\mathbf{S}$
                                <br>
                                i.e. the closed loop integral of a vector field is equal to the sum of all the curl contained in the surface
                                enclosed by the loop.
                                <br><br>

                                This is demonstrated in the visualisation on the right, where the components of
                                $\displaystyle \mathbf{A.dl}$ as you go around the loop are shown in the plot at the bottom. The contributions are positive if
                                the field and dl are pointing in the same direction.
                                <br><br>

                                When there is curl inside the loop then the overall loop integral is non-zero,
                                since on all parts of the loop, the contributions to the integral from the curl source have the same sign; however
                                when the curl source is outside of the loop, then the contributions cancel out and the net integral is zero.
                                <br><br>

                                This also demonstrates that the curl of a conservative field is zero, since any loop integral
                                in a conservative field is also zero.
                                <br><br>

                                You can change the shape of the loop to see that this is true for any type of closed loop.

                            </p>
                        </div>
                        <div id="curlIntegral" class="tab-pane fade">
                            <center><h4>Line Integral over a Closed Loop, $\oint_{C} \mathbf{A} \cdot \mathbf{dl}$ $$\unicode{x222F}$$ </h4></center>
                            <p>
                                Placeholder for text.
                            </p>
                            <div id="regroupexplainContainer" class="collapse show extra-content-container">
                                <div id="regroupexplain" class="extra-content">
                                            <span class="mathJaxDisplay">
                                                \begin{align}
                                                = \frac{1}{2} \Big[  2c_n e^{in\pi x/L} + 2c_{-n} e^{-in\pi x/L} & \\
                                                + \underbrace{c_{-n} e^{in\pi x/L} - c_{-n} e^{in\pi x/L}}_\text{ =0} & \\
                                                + \underbrace{c_{n} e^{-in\pi x/L} -c_{n} e^{-in\pi x/L}}_\text{ =0} & \Big] \\
                                                \end{align}
                                                <br>
                                                \begin{align}
                                                = \frac{1}{2} \Big[ c_n e^{in\pi x/L} +c_{-n} e^{in\pi x/L} & \\
                                                + c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \\
                                                + c_n e^{in\pi x/L} - c_{-n} e^{in\pi x/L} & \\
                                                - c_n e^{-in\pi x/L} + c_{-n} e^{-in\pi x/L} & \Big] \\
                                                \end{align}
                                            </span>
                                </div>
                            </div>
                            <span class="mathJaxDisplay">
                                        \begin{align}
                                        f(x)= c_0 + \sum_{n=1}^{\infty} \Big[ & \frac{c_n + c_{-n}}{2} \big(e^{in\pi x/L} +e^{-in\pi x/L} \big) \\
                                        & \frac{c_n - c_{-n}}{2} \big(e^{in\pi x/L} -e^{-in\pi x/L} \big) \Big]
                                        \end{align}
                                    </span>
                            Now define <span class="mathJaxInline">$ a_n = c_n + c_{-n} $</span> and
                            <span class="mathJaxInline">$ b_n = i(c_n - c_{-n}) $</span>
                            and use that these exponentials can we written as
                            sines and cosines.
                            <br><br>
                            <strong>Note:</strong> <span class="mathJaxInline">$ a_0 = 2c_0 $</span> and <span class="mathJaxInline">$ b_0=0 $</span>.
                            <br><br>
                            Hence
                            <span class="mathJaxDisplay">
                                        $$ f(x) = \frac{a_0}{2} + \sum_{n=1}^{\infty} \Big[ a_n\cos\Big(\frac{\pi nx}{L}\Big) + b_n\sin\Big(\frac{\pi nx}{L}\Big) \Big] $$
                                    </span>
                            <span class="mathJaxInline">$ a_n $</span> can be derived by using the expression from <span class="mathJaxInline">$ c_n $</span>
                            <span class="mathJaxDisplay">
                                        \begin{align}
                                        a_n = c_n + c_{-n} = & \frac{1}{2L}\int_{-L}^{+L}f(x) e^{-in\pi x/L}dx \\
                                        + & \frac{1}{2L} \int_{-L}^{+L}f(x) e^{in\pi x/L}dx
                                        \end{align}
                                    </span>
                            Factorise and spot the exponential form of <span class="mathJaxInline">$ \cos $</span>.
                            <span class="mathJaxDisplay">
                                        \begin{align}
                                        & =\frac{1}{L}\int_{-L}^{+L}f(x) \Big[\frac{e^{in\pi x/L} +e^{-in\pi x/L}}{2}\Big]dx \\
                                        & =\frac{1}{L}\int_{-L}^{L} f(x) \cos\Big(\frac{\pi nx}{L}\Big) dx
                                        \end{align}
                                    </span>
                            Similarly for <span class="mathJaxInline">$ b_n $</span>,
                            <span class="mathJaxDisplay">
                                        $$ b_n =\frac{1}{L}\int_{-L}^{L} f(x) \sin\Big(\frac{\pi nx}{L}\Big) dx. $$
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    Right Side of Window - containing mainly interactive and visual content    -->
    <div class="vis-container right" id="right-container">
        <!--    fade transition tag for RHS - applied by Vue and CSS    -->
        <transition-group name="fade" tag="div" class="transition-container">
            <!--    Interactive Zone Containers   -->
            <div class="rightload text odd" id='loadout1'
                 key="loadout1" v-if="currentSection === 1">
                <h1>loadout1</h1>
            </div>
            <div class="rightload text even" id='loadout2'
                 key="loadout2" v-if="currentSection === 2">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout2sub1' key="loadout2sub1" v-if="subSection[0] === 1">
                        <h1>loadout2sub1</h1>
                    </div>
                    <div class="rightload text" id='loadout2sub2' key="loadout2sub2" v-else>
                        <h1>loadout2sub2</h1>
                    </div>
                </transition>
            </div>
            <div class="rightload text odd" id='loadout3'
                 key="loadout2" v-if="currentSection === 3">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout3sub1' key="loadout2sub1" v-if="subSection[1] === 1">
                    </div>
                    <div class="rightload text" id='loadout3sub2' key="loadout2sub2" v-else>
                    </div>
                </transition>
            </div>
            <div class="rightload text even" id='loadout4'
                 key="loadout4" v-if="currentSection === 4">
                <transition name="fade">
                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout4sub1' key="loadout4sub1" v-if="subSection[2] === 1">
                    </div>
                    <div class="rightload text" id='loadout4sub2' key="loadout4sub2" v-else>
                    </div>
                </transition>
            </div>
            <div class="rightload text wait" id='loadoutblank' key="loadoutblank"
                 v-if="1 <= currentSection <= 4 === false">
                please wait...
            </div>
        </transition-group>
    </div>
    <!--    Title Banner above Right Side    -->
    <div class="banner">
        <!--    Visualisation Title    -->
        <h1 class="" id="vis-title">
            VECTOR CALCULUS CONCEPTS
        </h1>
        <a href="https://www.imperialvisualisations.com/learn/">
            <img id="vis-logo" src="VisualisationsLogoWhite2.png">
        </a>
    </div>
    <div class="rightScriptSpace"></div>
    <div class="rightSubScriptSpace"></div>
</div>

</body>

<script src="scripts/nav_Script.js"></script>

</html>