.transition-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.rightload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

/* SECTION 1 */

#loadout1 {
}

#loadout1 #graph1Sec1 {
    width: 60%;
    height: 80%;
    position: absolute;
    left: 3%;
    top: 3%;
    padding: 1%;
}

#loadout1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
    top: 5%;
    width: 30%;
    height: 95%;
}

#loadout1 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
}

#loadout1 .slider {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#loadout1 .sliderValue {
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout1 .slider-label {
    font-size: 20pt;
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex-basis: 0;
    flex-grow: 0.5;
    flex-shrink: 1;
}

#loadout1 .graphcolor1 {
    border-left: solid 5px rgb(213,0,50);
    color: rgb(213,0,50);
}

#loadout1 .graphcolor2 {
    border-left: solid 5px rgb(0,0,255);
    color: rgb(0,0,255);
}

#loadout1 .graphcolor3 {
    border-left: solid 5px rgb(0, 128, 0);
    color: rgb(0, 128, 0);
}

#loadout1 #vectorComponentsCustom {
    width: 60%;
    position: absolute;
    left: 3%;
    bottom: 6%;
    padding: 1%;
    text-align: center;
    font-size: 14pt;
}

#loadout1 #popup1 {
    width: 60%;
    position: absolute;
    left: 3%;
    bottom: 6%;
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #D50032;
}

/* SECTION 2 */

#loadout2sub1 .graph1Title {
    width: 50%;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 30px;
    text-align: center;
}

#loadout2sub1 #Scalar_Graph_1a {
    width: 50%;
    height: 55%;
    position: absolute;
    left: 30px;
    top: 100px;
}

#loadout2sub1 .graph2Title {
    width: 40%;
    height: 70px;
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: center;
}

#loadout2sub1 #Vector_Graph_1a{
    width: 40%;
    height: 55%;
    position: absolute;
    right: 30px;
    top: 100px;
}

#loadout2sub1 .inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25%;
    position: absolute;
    bottom: 20px;
    left: 50px;
}

#loadout2sub1 .equationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25%;
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 16pt;
}

#loadout2sub1 .scroll_down {
    display: table;
    flex: 1 0 auto;
    margin: 0 auto;
}

#loadout2sub1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#loadout2sub1 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#loadout2sub1 .slider-label {
    font-size: 18pt;
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
    flex-basis: 0;
    flex-grow: 0.5;
    flex-shrink: 1;
}

#loadout2sub1 .slider {
    display: flex;
    align-items: baseline;
    flex: 1 0 auto;
}

#loadout2sub1 .sliderMin, #loadout2sub1 .sliderMax {
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout2sub1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout2sub2 .graph1Title {
    width: 55%;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 30px;
    text-align: center;
}

#loadout2sub2 #Scalar_Graph_1b {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 30px;
    top: 100px;
}

#loadout2sub2 .graph2Title {
    width: 40%;
    height: 70px;
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: center;
}

#loadout2sub2 #Vector_Graph_1b{
    width: 40%;
    height: 55%;
    position: absolute;
    right: 30px;
    top: 100px;
}

#loadout2sub2 .inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 45%;
    height: 25%;
    position: absolute;
    bottom: 20px;
    left: 50px;
}

#loadout2sub2 .legendContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 10%;
    height: 25%;
    position: absolute;
    bottom: 40px;
    right: calc(50px + 25% + 100px);
    font-size: 14pt;
}

#loadout2sub2 .legendContent {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

#loadout2sub2 .legendContent span {
    flex: 1 0 auto;
    text-align: right;
}

#loadout2sub2 .colorBlock {
    flex: 0 0 auto;
    width: 60px;
    height: 10px;
}

#loadout2sub2 .colorCircle {
    flex: 0 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#loadout2sub2 .yellow {
    background: rgb(255,255,0);
}

#loadout2sub2 .green {
    background: rgb(173,255,47);
}

#loadout2sub2 .pink {
    background: rgb(238,130,238);
}

#loadout2sub2 .gray {
    background: rgb(192,192,192);
}

#loadout2sub2 .red {
    background: rgb(255,0,0);
}

#loadout2sub2 .equationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30%;
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 16pt;
}

#loadout2sub2 .overall-sliders-container {
    width: 90%;
    display: flex;
    flex-direction: column;
}

#loadout2sub2 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: flex-end;
}

#loadout2sub2 .slider-label {
    font-size: 18pt;
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    flex-basis: auto;
    flex-grow: 0.3;
    flex-shrink: 1;
}

#loadout2sub2 .smaller-text {
    font-size: 14pt;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
}

#loadout2sub2 .flex-slider-label {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    align-items: baseline;
}

#loadout2sub2 .slider {
    display: flex;
    align-items: baseline;
    flex: 1 0 auto;
}

#loadout2sub2 .sliderMin, #loadout2sub2 .sliderMax {
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout2sub2 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

/* SECTION 3 */

#loadout3sub1 {
}

#loadout3sub1 .graphTitle {
    width: 65%;
    height: 70px;
    position: absolute;
    top: 40px;
    left: 30px;
    text-align: center;
}

#loadout3sub1 #Graph_2a {
    width: 65%;
    height: 80%;
    position: absolute;
    left: 30px;
    top: 80px;
}

#loadout3sub1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 60%;
    height: 20%;
}

#loadout3sub1 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 60%;
    height: 10%;
}

#loadout3sub1 .slider-label {
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
    flex-basis: auto;
    flex-grow: 0.3;
    flex-shrink: 1;
}

#loadout3sub1 .slider {
    display: flex;
    align-items: baseline;
    flex: 1 0 auto;
}

#loadout3sub1 .sliderMin, #loadout2sub2 .sliderMax {
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout3sub1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout3sub1 #divSourceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 40%;
    position: absolute;
    top: 60px;
    right: 30px;
}

#loadout3sub1 #divSinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 40%;
    position: absolute;
    bottom: 60px;
    right: 30px;
}

#loadout3sub1 #picTitle {
    flex: 0 0 auto;
    height: 50px;
}

#loadout3sub1 #divSource, #loadout3sub1 #divSink {
    display: flex;
    flex: 1 0 100px;

}

#loadout3sub2 {
}

#loadout3sub2 {

}

/* SECTION 4 */

#loadout4 {
}

#loadout4 #graph1Sec4 {
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    top: 2.5%;
}

#loadout4 #graph2Sec4 {
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    bottom: 2.5%;
}

#loadout4 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50px;
    width: 50%;
    height: 90vh;
}

#loadout4 .selectorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
}

#loadout4 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 4;
    width: 100%;
}

#loadout4 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

#loadout4 .slider-label {
    font-size: 14pt;
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex-basis: 0;
    flex-grow: 0.5;
    flex-shrink: 1;
    left:0;
}

#loadout4 .slider {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    right: 0;
}

/* SECTION 5 */

#loadout5 {
}

#loadout5 #graph1Sec5 {
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    top: 2.5%;
}

#loadout5 #graph2Sec5 {
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    bottom: 2.5%;
}

#loadout5 #graph3Sec5 {
    width: 45%;
    height: 45%;
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
}

#loadout5 #inputSec5 {
    flex-basis: 0;
    flex-grow: 1;
}

#loadout5 #coefficientSec5 {
    flex-basis: 0;
    flex-grow: 1;
}

#loadout5 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 5%;
    right: 2.5%;
    width: 45%;
    height: 40%;
}

#loadout5 * {
    flex-basis: 0;
    flex-grow: 1;
}

#loadout5 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

#loadout5 .slider-label {
    font-size: 14pt;
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex-basis: 0;
    flex-grow: 0.5;
    flex-shrink: 1;
    left: 0;
}

#loadout5 .slider {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    right:0;
}

#loadoutblank {
    text-align: center;
    line-height: 100vh;
    vertical-align: middle;
    font-size: 30pt;
}

